div, input, textarea {
    box-sizing: border-box;
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 1px;
    text-align: center;
    position: relative;
}

.main-title {
    margin: 100px 0;
    font-size: 50px;
}

.main-content {
    margin: 30px 0;
}

.main-btn {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
}

.sub-content {
    width: 70%;
    height: 250px;
    background: darkgray;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -30px;
    margin: auto;
}

.sub-title {
    margin-top: 50px;
    font-size: 25px;
}

.form-background {
    background: gray;
    padding: 30px;
}

.form-white {
    width: 50%;
    min-width: 300px;
    background: white;
    padding: 30px;
    margin: auto;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.w-50 {
    width: 50%;
    padding: 10px;
    float: left;
}

.form-input {
    width: 100%;
}

.form-long {
    height: 100px;
}

input[type="email"] {

}

.form-btn {
    float: right;
    padding: 1px 20px;
    background-color: goldenrod;
    font-weight: bold;
    font-size: larger;
}